body {
    text-align: center;
    margin: 0;
    line-height: 2.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    font-style: normal;
    text-decoration: none;
    color: grey;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
}

.header {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 0.3em;
    justify-content: left;
}

.nav--link {
    margin-right: 20px;
    color: gray;
    margin: auto 20px;
}
    .nav--link:hover{
        color:white;
        cursor:pointer;
    }

h1 {
    text-align: center;
}

.addBtn {
    color: white;
    background-color: #7986CB;
    border-color: #7986CB;
    border-radius: 0.3em;
    margin-bottom: 5px;
}
    .addBtn:hover {
        background-color: #5C6BC0;
        border-color: #5C6BC0;
        cursor: pointer;
    }

.table {
    width: 100%;
    
}

.btn-red {
    border-radius: 0.3em;
    background-color: red;
    border-color: red;
    color: white;

}
    .btn-red:hover {
        background-color: darkred;
        border-color: darkred;
        cursor: pointer;
    }

.btn-edit {
    border-radius: 0.3em;
    color: #337ab7;
    border-radius: 0.3em;
}
    .btn-edit:hover {
        color: black;
        cursor: pointer;
    }

.btn{
    border-radius: 0.3em;
}
    .btn:hover{
        cursor:pointer;
    }